
#collapse-main-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}

#collapse-list-container {
    display: flex;
    flex-direction: column;
    justify-content:first baseline;
    align-items: center;
    width: 100%;
    transition: 0.4s ease;
    padding: 10px 10px 10px 10px;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
}

#collapse-list-title {
    background-color: var(--highlight-color-2);
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    box-sizing: border-box;
    width: 100%;
    transition: 0.5s ease;
}

#collapse-list-title:hover {
    box-shadow: rgba(255, 255, 255, 0.76) 0px 0px 0px 2px;
    transition: 0.1s ease;
}

#collapse-list-title:active {
    filter: brightness(0.9);
    transition: 0.2s ease;
}

#list-item-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    background-color: var(--card-color);
    transition: 0.3s ease;
    border-radius: 10px;
    box-sizing: border-box;
    overflow: hidden;
    margin: 10px;
    min-height: 75px;
    height: 75px;
    max-height: 75px;
}

#list-item-container>img {
    height: 100%;
    max-width: 100px;
    flex : 1;
}

#list-item-container>a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 100%;
    flex : 2;
}

#list-item-container:hover {
    transition: 0.1s;
    filter: brightness(1.5);
}

#list-item-container:active {
    transition: 0.1s;
    filter: brightness(1.2);
}