* {
  --background-color: #454b5a;
  --highlight-color-1: #a1f850;
  ;
  --highlight-color-2: #50b5f8;
  ;
  --card-color: rgba(202, 202, 202, 0.11);
  --base-color: #121212;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  scrollbar-color: white transparent;
  scrollbar-width: thin;
}

.App {
  text-align: center;
  
}

.App-header {
  background-color: var(--background-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

a {
  color: white;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--highlight-color-1);
  border: 0px none;
  margin: 10px;
}

button:hover {
  transition: 0.1s;
  box-shadow: rgb(255, 255, 255) 0px 0px 0px 2px;
}

button:active {
  transition: 0.3s;
  filter: brightness(0.9);
}